body {
  margin: 0;
  padding: 0;
  color: black;
}

.header {
  font-size: 45px;
  text-align: center;
  color: white;
  background-color: red;
}
.card-container {
  display: flex;
  justify-content: center;
}
.card {
  margin: 25px;
  width: 15rem;
}
.card-body {
  border-radius: 5px;
}
.card-header {
  color: white;
  background-color: royalblue;
}
.card-title {
  text-align: center;
  font-size: 2.25rem;
}
.card-subtitle {
  font-size: 1.5rem;
}
.list-group-item {
  font-size: 16px;
}